# Lecture 1: Introduction to Python and Natural Language Processing

## What is this course is about?

Most of the information you will need will be on E-Learning or Syllabus.

https://elearning.uni-bayreuth.de/course/view.php?id=40264

We will start slow but it will get more intense in May and early July. After that, it is going to be mostly about time management.

At the end of this course, preferably, you will have a project that you can use to showcase your skills. Most of the data scientists have an open-source portfolio, and this course will be an introduction to that as well. But, naturally, the results will depend on how much effort you want to put in.

## Basics of Python
Let's start with the basics of Python and programming. Python is a very welcoming language, and if you have any previous experience with programming, you will adjust quickly. Copy this notebook to your account and edit however you wish.

In [ ]:
# Like any other mainstream programming language, Python is also driven by objects. A fancier name for this is Object Oriented Programming (OOP).
# Variable assignment
x = 5
y = 3

# We can also define operations as objects, and "call" them later.
# Basic arithmetic operations
sum = x + y
difference = x - y
product = x * y
quotient = x / y

# Print results
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 8
Difference: 2
Product: 15
Quotient: 1.6666666666666667

In [ ]:
#####################
### Mini-Assignment 1
#####################

# Could you write a code so that it prints the following? Use already defined x and y.
# 'While the sum is 8, the difference is 2.'

print('While the sum is', sum, 'the difference is', difference, '.')

While the sum is 8 the difference is 2 .

In [ ]:
#####################
### Mini-Assignment 1
#####################

# Could you write a code so that it prints the following? Use already defined x and y.
# 'While the sum is 8, the difference is 2.'

test = "While the sum is"

print(test, sum, 'the difference is', difference, '.')

While the sum is 8 the difference is 2 .

In [ ]:
#####################
### Mini-Assignment 2
#####################

# Taken from https://pyflo.net/variables/ .
# What do you think the difference between two print statements will be?
value_1 = 'bear'
value_2 = 'cheetah'
print(value_1, value_2)
print(value_1 + value_2)

bear cheetah
bearcheetah

In [ ]:
# How did the computer know what to do when you run the code " print() "?
# Print is a pre-defined "function", just like many other we will use, or create along this course.
# Function definition
def greet(name):
    return "Hello, " + name + "!"

# After defining the "greet" function, we can call it, or even use it in another function. Think about all those possibilities!
# Function call
message = greet("Timur")
print(message)

Hello, Timur!

In [ ]:
greet("test")

'Hello, test!'

In [ ]:
# Before we go further to loops and conditional statements, we should learn about variable types.
# There are four main/basic types of values, which are strings, integers, floats, and booleans.

string = 'DataScience'
integer = 1
float = 12.4
boolean = 2 < 5 #Check the result by yourself.

# Throughout this course, we will be focusing on texts or strings.
# https://pyflo.net/integers/
# https://pyflo.net/math/
# https://pyflo.net/boolean/
# https://pyflo.net/string-indexing/

In [ ]:
# The following code snippet is about three key programming concepts; conditional statements and loops (while and for).
# We are usually interested in iterating over objects (datasets, statistics, regressions).
# Conditional statement
x = -5
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")
# For further details, check: https://pyflo.net/else/, https://pyflo.net/elif/

Negative

In [ ]:
# There are two main types of loops: while and for.
count = 0
while count < 5:
    print("Count:", count)
    count += 1
# For loop
for i in range(5):
    print("Number:", i)

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

## Introduction to Pandas and DataFrames

One of the main advantages of Python is the community around it. You can technically do anything with any programming language you can think of. However, the community, or the people who work on similar projects just like you develop and share their functions and code. Let's examine several of these packages that we will use in this course and possibly in your future careers.

Pandas library is a fundamental tool for data scientists. Have a look at https://pandas.pydata.org/docs/user_guide/10min.html in your free time, this section relies on this website.

In [ ]:
import pandas as pd

# This library is mostly about DataFrames (basically datasets), and manipulating them.
# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

In [ ]:
# Displaying the DataFrame in Jupyter notebooks.
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
# Or, what I like to do is simply:
df

In [ ]:
# If you look at any online resources, you will see that the .head() option is used heavily.
# This is very useful for two reasons: (1) by only showing the first few rows, with bigger datasets, you won't need to compute heavily, and (2) you can see all the variables very fast.
df.head()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
# There are some other operations that you will find very useful.
# Shape of the dataframe, or the dataset if you will.
df.shape

(3, 3)

In [ ]:
# For a quick look at the names of the variables (columns).
df.columns

Index(['Name', 'Age', 'City'], dtype='object')

In [ ]:
# Maybe you want to see if there are any dummy (boolean) variables.
df.dtypes

Name    object
Age      int64
City    object
dtype: object

In [ ]:
# And, maybe the most importantly, descriptive statistics.
df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [ ]:
# We have seen quite a lot in Python and Pandas. However, The best way to learn programming is to do projects on your own.
# If you are interested in where you can find more datasets and projects, visit kaggle.com. Kaggle is the central place where you can learn on a project basis.
# For the rest of this course, we will work on a Kaggle dataset (https://www.kaggle.com/code/kashnitsky/a1-demo-pandas-and-uci-adult-dataset/notebook) shared by Yury Kashnitsky.

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/timuroeztuerk/data-science-lecture-S24/main/Datasets/adult_data.csv')

In [ ]:
df.shape

(32561, 15)

In [ ]:
# Sometimes we might have different dataframes for different variables. Often we just need one column from that dataframe.
# Let's learn the basic data manipulation syntax in Python/Pandas.

# Subsetting only one column, and saving it as an object.
education = df["education"]

In [ ]:
# We can also filter the columns when we are at it.
only_bachelors = df[df['education-num'] < 5]

In [ ]:
only_bachelors

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
56,46,Private,216666,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
79,31,Local-gov,125927,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
160,68,?,38317,1st-4th,2,Divorced,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32431,51,Private,274502,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,48,United-States,<=50K
32432,36,Private,208068,Preschool,1,Divorced,Other-service,Not-in-family,Other,Male,0,0,72,Mexico,<=50K
32448,61,Private,137554,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32479,64,State-gov,222966,7th-8th,4,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,40,United-States,<=50K
32517,36,Private,131459,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K

In [ ]:
# What about combining different filtering options?
condition = (df['education'] == 'Bachelors') & (df['age'] > 40)
bachelors_over_40 = df[condition]

In [ ]:
bachelors_over_40

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433,41,Self-emp-not-inc,168098,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K
32464,45,Self-emp-inc,173664,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
32507,50,Private,302372,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K

In [ ]:
# Adding a new column as a result of two other columns. This could have been a sum, division etc.
df["time-outside-education"] = df["age"] - df["education-num"]

In [ ]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,time-outside-education
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,26
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,37
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,29
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,46
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,15
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,31
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,49
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,13
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,43

In [ ]:
# Almost always, we will have categorical variables in our data, especially if it is historical data.
# Therefore, we might want to pick only some categories.

# Interesting countries
countries = ["Germany", "Canada"]

# Filter for rows for our countries using .isin().
country_filtered = df[df["native-country"].isin(countries)]

In [ ]:
country_filtered

In [ ]:
# It is your turn now. I will let you choose what type of filtering you want to do, but go ahead and:
# (1) create two objects from one columns each,
# (2) and combine three filters and create a dataframe.

# Write your code here....

In [ ]:
# After you manipulate some rows (or before), you can start with some statistics.
print(df["age"].mean())
print(df["age"].median())
print(df["age"].min())
print(df["age"].max())
print(df["age"].cumsum())
print(df["age"].cummax())

In [ ]:
df.describe()

In [ ]:
# Finding full row duplicates
df = pd.read_csv('https://raw.githubusercontent.com/timuroeztuerk/data-science-lecture-S24/main/Datasets/adult_data.csv')
df.shape

full_row_duplicates = df[df.duplicated(keep=False)]

full_row_duplicates.sort_values(by='fnlwgt')

In [ ]:
# Loc and iloc
# .loc is label-based, which means you use the names of the rows and columns to specify which parts of the DataFrame you want to access.
# .iloc is integer-based, where you specify a column number.
# df.loc[0:50, "age"]
df.iloc[0:50, 1:3]